<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<!-- DE -->
	<appSettings>
		<add key="Logo" value="Банк"/>
		<add key="Phone" value="+7(812)32X-XX-XX"/>
		<add key="Phone2" value="+7(812)32X-XX-XX"/>
		<add key="Phone3" value="+7(812)96X-XX-XX"/>
		<add key="EmailFrom" value="admin@bank.ru"/>
		<add key="EmailCC" value="admin@bank.ru"/>
		<add key="EmailRegExp" value="[a-zA-Z_0-9.-]+\@[a-zA-Z_0-9.-]+\.\w+"/>
		<add key="LAN" value="192.168.1."/>
	</appSettings>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="ConnectionDataMart" connectionString="Data Source=XXX\SQLEXPRESS;Initial Catalog=bank_datamart;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="ConnectionUsers" connectionString="Data Source=XXX\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
        Set compilation debug="true" to insert debugging 
        symbols into the compiled page. Because this 
        affects performance, set this value to true only 
        during development.
    -->
		<!-- DE -->
		<membership>
			<providers>
				<remove name="AspNetSqlMembershipProvider"/>
				<add connectionStringName="ConnectionUsers" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</membership>
		<globalization requestEncoding="windows-1251" responseEncoding="windows-1251" culture="ru-RU" uiCulture="ru"/>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
		</compilation>
		<!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
		<!-- DE -->
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" defaultUrl="cards.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<roleManager enabled="true">
			<providers>
				<!-- DE -->
				<remove name="AspNetSqlRoleProvider"/>
				<add connectionStringName="ConnectionUsers" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<!-- DE -->
				<add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<profile>
			<providers>
				<!-- DE -->
				<remove name="AspNetSqlProfileProvider"/>
				<add name="AspNetSqlProfileProvider" connectionStringName="ConnectionUsers" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
			<properties>
				<!-- 
        <add name="Theme" type="string" defaultValue="CibankDefault" />
        <add name="PageSizePDA" type="Int32" defaultValue="5" />
        <add name="PageSize" type="Int32" defaultValue="30" />
        <add name="ScreenWidth" type="Int32" defaultValue="220" />
        -->
			</properties>
		</profile>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!-- DE -->
		<customErrors defaultRedirect="~/Error.htm"/>
		<!-- DE
    <healthMonitoring>
      <providers>
        <add name="CriticalMailEventProvider"
          type="System.Web.Management.SimpleMailWebEventProvider"
          from="admin@bank.ru"
          to="DE@bank.ru"
          bodyHeader="Warning on the PDA Site!"
          bodyFooter="Please help..."
          subjectPrefix="Action required."/>
      </providers>
      <rules>
        <add name="All Errors by Email"
          eventName="All Errors"
          provider="CriticalMailEventProvider"/>
      </rules>
    </healthMonitoring>
    -->
		<!-- DE -->
		<pages theme="CibankDefault" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<!-- DE -->
	<system.net>
		<mailSettings>
			<smtp from="Bank PDA" deliveryMethod="Network">
				<network host="smtp.bank.ru" password="********" userName="bot@bank.ru"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
